*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}


.align-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.hero.is-large .hero-body {
    padding: 0px;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  padding: 0rem 2rem 0rem 2rem;
}

.subtitle {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0rem 2rem 0rem 2rem;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.navbar {
  background-color: #ffffff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-dark .navbar-brand > .navbar-item,
.navbar.is-dark .navbar-brand .navbar-link {
  color: #ffffff;
}

.navbar-brand {
  border-color: #ffffff;
}

.hero .navbar {
  background: none;
}

.hero.is-info {
  background-color: #eecec4;
  color: #fff;
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
  color: #fff;
}

.title strong {
  color: #223f97;
}

.title:not(:last-child) {
  margin-bottom: 3rem;
}

.subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}

.padding-add {
  margin-bottom: 2rem;
}

.buttons:last-child {
    margin-bottom: 3rem;
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #eecec4;
  }
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color: #000000;
}

/* .hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  color: #f04029;
} */

.hero.is-info .tabs a {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: opacity 1s ease;
  opacity: 0.8;
  height: 2rem;
}

.hero.is-info .tabs.is-boxed a, .hero.is-info .tabs.is-toggle a {
  color: #000000;
}

.hero.is-info .tabs.is-boxed a:hover, .hero.is-info .tabs.is-toggle a:hover {
  background-color: #F8A794;
  color: #ffffff;
}

.switch[type=checkbox]:checked+label::before, .switch[type=checkbox]:checked+label:before {
  background: #F8A794;
}

.hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover, .hero.is-info .tabs.is-toggle li.is-active a, .hero.is-info .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #223f97;
}

.hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info .navbar-link:hover, .hero.is-info .navbar-link.is-active {
  background-color: #eecec4;
  /* border-radius: 0px 0px 4px 4px;
  color: #ffffff; */
}

/* .navbar-burger:hover {
  background-color: #98bec8;
  border-radius: 0px 0px 4px 4px;
  color: #ffffff;
} */

.button.mode:active, .button.mode.is-active {
  background-color: #fefbf5;
  border-color: #fefbf5;
  color: #000000;
}

.button.mode {
  background-color: #98bec8;
  border-color: #fefbf5;
  color: #000000;
}

.button.is-link {
  background-color: #223f97;
  border-color: transparent;
  color: #fff;
}

.column p {
  align-self: left;
}

.section {
    padding: 3rem 1.5rem 3rem 1.5rem;
}

.section-footer {
  padding: 3rem 0rem 3rem 0rem;
}

.section-rec {
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.has-pink-bg {
  background-color: #eecec4;
}

.has-white-pink-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(238,206,196, 1) 50%, rgba(238,206,196, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(238,206,196, 1) 50%, rgba(238,206,196, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(238,206,196, 1) 50%, rgba(238,206,196, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8a794", GradientType=1);
}

@media(max-width: 1024px) {
  .has-white-pink-gradient {
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(238,206,196, 1) 25%, rgba(238,206,196, 1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(238,206,196, 1) 25%, rgba(238,206,196, 1) 100%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(238,206,196, 1) 25%, rgba(238,206,196, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8a794", GradientType=1);
  }
}


h1,
h2,
h3 {
  /* font-family: 'Calistoga'; */
  margin-bottom: 10px;
}
p,
a,
span {
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 400;
}

@media(max-width: 767px) {
  p {
      max-width: 90%;
  margin: 0 auto;
  }
}

.a-menu {
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: opacity 1s ease;
  opacity: 0.8;
}

.a-menu:hover {
  opacity: 1;
  color: #1E4132 !important;
  text-decoration: none;
}

nav {
  padding-top: 20px;
  max-height: 50px;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
}

#rec-feed .columns {
  margin: 0px;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-img {
  max-width: 100%;
  margin: 0 auto;
}

.column {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

@media(max-width: 1024px) {
  .reverse-row-order {
      flex-direction: column-reverse;
      display: flex;
  }
}

.social-link {
  padding: 15px;
}

#footer p {
  padding: 20px;
}

#footer a {
  color: #223f97 !important;
}

.has-text-blue {
  color: #223f97 !important;
}

.is-size-7 {
  font-size: 0.75rem !important;
  padding-top: 1rem;
}

.buttons.rec {
  margin-bottom: 2.25rem;
}

.buttons.foot {
  margin-bottom: 0rem;
}