<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I'm Harmony! | ${title}</title>

    <!-- Tab Icon-->

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/afcc5fe880.js" crossorigin="anonymous"></script>

    <!-- CSS Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
  
  </head>
  
  <body>

    <!-- Light or Dark Mode -->
    <section class="section browsermode"> 
      <div class="container">
        <div class="buttons has-addons is-centered">
          <button class="button is-active mode" id="modeButtonLight">Light Mode</button>
          <button class="button mode" id="modeButtonDark">Dark Mode</button>
        </div>
      </div>
    </section>

    <!-- Hero -->
    <section class="hero is-info is-large">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="./images/Portfolio_Logo.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Portfolio
                </a>
                <a class="navbar-item">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <img src="./images/Portfolio_Hero_Image.png" alt="Profile picture of Harmony">
      </div>
      
      <!-- Hero Navbar -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active">
                <a>About</a>
              </li>
              <li>
                <a>Portfolio</a>
              </li>
              <li>
                <a>Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- Main Summary -->
    <section class="section">
      <div class="container">
        <h1 class="moving">
          <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">Coder</span>
          </span>
        </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <h2 class="subtitle">
          I am a Project Manager and Designer turned <strong>Software Developer</strong>, passionate about working in teams, design and creative problem solving.
        </h2>
        <h2 class="subtitle">
          My drive is fueled by passion and its ability to shape our world, our lives and our interactions. I am most satisfied when I can connect with people that are passionate about who they are, what they do and why they do it. This has resulted in a journey that has connected me with individuals from across the world that work in a variety of careers, different levels of expertise and unique points of view. 
        </h2>
      </div>
    </section>

    <!-- Main Content -->
    <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">

              </article>
              <!-- <article class="tile is-child box">

              </article> -->
            </div>
            <!-- <div class="tile is-parent">
              <article class="tile is-child box">
                
              </article>
            </div> -->
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
            <h1 class="title align-center">
              Developer Skills
            </h1>
            <h2 class="subtitle align-center">
              Launguages and Frameworks
            </h2>
              <div class="columns is-mobile align-center">
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-js-square"></span>
                    <h3>JavaScript</h3>
                  </div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-html5"></span>
                    <h3>HTML</h3>
				</div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-css3-alt"></span>
                    <h3>CSS</h3>
                  </div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-python"></span>
                    <h3>Python</h3>
                  </div>
                </div>
              </div>
              <div class="columns is-mobile align-center">
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-react"></span>
                    <h3>React</h3>
								  </div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-git-alt"></span>
                    <h3>Git</h3>
								  </div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-github"></span>
                    <h3>GitHub</h3>
								  </div>
                </div>
                <div class="column">
                  <div class="inner">
                    <span style="font-size: 3rem;" class="fab style2 major fa-node-js"></span>
                    <h3>Node</h3>
							  	</div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="buttons is-centered">
              <button class="button">Download Resume</button>
            </div>
          </article>
        </div>
      </div>
      </div>
    </section>

    <!-- Teams Are Awesome -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              "
            </h1>
            <h2 class="subtitle">
              I had the pleasure of working with Harmony at DigitalCrafts, where she quickly established herself as an easygoing colleague and a positive contributor to the team. Harmony quickly took the reigns on a new project of ours and ran with it with impressive self-direction and organization. I’d highly recommend Harmony for any role she pursues and will happy discuss further should any employers request. 
            </h2>
            <h1 class="title is-pulled-right">
              "
            </h1>
            <p class="">
              <strong>Max McChesney</strong>
            </p>
            <p class="">
              CEO + Co-Founder @ <a href="https://www.digitalcrafts.com/" rel="noreferrer">DigitalCrafts</a>
            </p>
          </div>
          <div class="column">
            <a>
              <img src="./images/Teamwork_Image.png" alt="Logo">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://www.linkedin.com/in/harmony-trevena/">Connect with Harmony on LinkedIn</a>
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="./scripts/movingLetters.js"></script>
    
  </body>
</html>