
/* Used: Moving Letters */

.moving {
  font-weight: 700;
  font-size: 3.5em;
}

.moving .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.moving .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.moving .line1 { 
  top: 0; 
  left: 0;
}

.moving .letter {
  display: inline-block;
  line-height: 1em;
}

/* Used: End Moving Letters */


*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}


.align-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.hero.is-large .hero-body {
    padding: 1rem 1.5rem;
}

.subtitle {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.navbar {
  background-color: #ffffff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-black .navbar-burger {
  color: white;
}

.navbar.is-dark .navbar-brand > .navbar-item,
.navbar.is-dark .navbar-brand .navbar-link {
  color: #ffffff;
}

.navbar-brand {
  border-color: #ffffff;
}

.navbar-burger {
  color: #000000;
}

.hero .navbar {
  background: none;
}

.hero.is-info {
  background-color: #fefbf5;
  color: #98bec8;
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #fefbf5;
  }
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color: #000000;
}

.hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  color: #f04029;
}

.hero.is-info .tabs a {
  color: #fff;
}

.hero.is-info .tabs.is-boxed a, .hero.is-info .tabs.is-toggle a {
  color: #000000;
}

.hero.is-info .tabs.is-boxed a:hover, .hero.is-info .tabs.is-toggle a:hover {
  background-color: #98bec8;
  color: #ffffff;
}

.hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover, .hero.is-info .tabs.is-toggle li.is-active a, .hero.is-info .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #98bec8;
}

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

.hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info .navbar-link:hover, .hero.is-info .navbar-link.is-active {
  background-color: #98bec8;
  color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.navbar-burger:hover {
  background-color: #98bec8;
  color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}